
<div class="container">

  <div class="card">
      <h2>Compose Email</h2>
      <mat-form-field class="field" appearance="outline">
          <mat-label>To</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline" >
          <mat-label>Subject</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter Your Message</mat-label>
          <textarea rows="8" matInput placeholder="Hey what are you doing.."></textarea>
        </mat-form-field>

        <div class="text-center">

          <button type="submit" mat-raised-button color="primary"> <mat-icon>send</mat-icon>Send</button>
          <button type="reset" mat-raised-button color="accent"><mat-icon>refresh</mat-icon>Reset</button>

        </div>

  </div>


</div>